@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Kdam+Thmor+Pro&display=swap');

.main {
	padding: 10px 50px;
	background: #f18b42;
	color: #ffffff;
}

.cool {
	font-size: 50px;
	/* font-family: Georgia, 'Times New Roman', Times, serif; */

	font-family: 'Fascinate Inline', cursive;
	/* font-family: 'Kdam Thmor Pro', sans-serif; */
}